{% extends 'base/index.html' %}
{% load static helper %}

{% block content %}
<!-- Page Banner Start -->
<section class="page-banner-area rel z-1 text-white text-center" style="background-image: url(assets/images/banner.jpg);">
    <div class="container">
        <div class="banner-inner rpt-10">
            <h1 class="page-title wow fadeInUp delay-0-2s">{{ blog.title }}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb wow fadeInUp delay-0-4s">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Ana Səhifə</a></li>
                    <li class="breadcrumb-item active">{{ blog.title }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <img class="circle-one" src="{% static 'assets/images/shapes/circle-one.png' %}" alt="Circle">
    <img class="circle-two" src="{% static 'assets/images/shapes/circle-two.png' %}" alt="Circle">
</section>
<!-- Page Banner End -->


<!-- Blog Details Start -->
<section class="blog-details-area py-130 rpy-100">
    <a style="margin-bottom: 5%; margin-left: 5%;" class="btn btn-primary" href="{% url 'blog_update' blog.slug %}">Düzəliş et</a>
    {% comment %} <form method='POST'>
        {% csrf_token %} {% endcomment %}
        <a style="margin-bottom: 5%; margin-left: 5%;" href="{% url 'blog_delete' blog.slug %}" class="btn btn-primary">Sil</a>
    {% comment %} </form> {% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details-wrap">
                    <div class="image mb-25 wow fadeInUp delay-0-2s">
                        <img src="{{ blog.image.url }}" alt="Blog">
                        <a href="#"><i class="fas fa-share-alt"></i></a>
                    </div>
                    <ul class="blog-standard-header wow fadeInUp delay-0-2s">
                        <li><span class="name">{{ blog.author.get_full_name }}</span></li>
                        <li><i class="far fa-calendar-alt"></i> <a href="blog-details.html">{{ blog.published_at }}</a></li>
                    </ul>
                    <h3 class="title">{{ blog.title }}</h3>
                    <p>{{ blog.description }}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-sidebar rmt-75">
                    <div class="widget widget-menu wow fadeInUp delay-0-2s">
                        <h4 class="widget-title">Kateqoriyalar</h4>
                        <ul>
                            {% for category in categories %}
                            <li><a href="blog.html">{{ category.name }} </a> <span>({{ category.blogs.count }})</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="widget widget-recent-courses wow fadeInUp delay-0-2s">
                        <h4 class="widget-title">Son Bloqlar</h4>
                        <ul>
                            {% for last_blog in last_blogs %}
                            <li>
                                <div class="image">
                                    <img src="{{ last_blog.image.url }}" alt="Course">
                                </div>
                                <div class="content">
                                    <h6><a href="{% url 'blog_detail' last_blog.slug %}">{{ last_blog.title }}</a></h6>
                                    <span>By <a href="#">{{ last_blog.author.get_full_name }}</a></span>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details End -->
{% endblock %}